* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.intro-img {
	height: 10rem;
}

a {
	color: black;
	text-decoration: none;
}

.menu-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	min-height: 5vh;
	padding: 1rem;
	background-color: lavender;
}

.main {
	min-height: 95vh;
	background-image: url("./img/pexels-hasan-albari-1229861.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main h2 {
	text-align: center;
	margin: 2rem;
}

.main button {
	padding: 1rem;
	border: none;
	border-radius: 2rem;
	background-color: rgb(87, 122, 4);
	color: white;
}
